{% extends "base-dash.html" %}
{% load static %}
{% block content %}
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">BasicPageCms</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
        </div>
      </div>


      <h2>Home</h2>
      <p> BasicPageCMS is a landing page cms. Use the left side navigation bar to edit the landing page information. </p>

      </div>
    </main>
  </div>
</div>



{% endblock %}
