{% extends "base-dash.html" %}
{% load static %}
{% block content %}
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">BasicPageCms</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
        </div>
      </div>


      <h4>Manage the content on the page.</h4>
              
        
         {% if pageData %}
        
        <a href="/manage/edit/{{ pageData.id }}"> Edit Information </a>

        {% else %}
        <a href="/manage/create"> Create Information </a>>
        
        {% endif %}
      </div>
    </main>
  </div>
</div>



{% endblock %}
